<p>edit works!</p>
<div class="container">
<form>
    <div class="mb-3">
        <!-- <label for="txtName" class="form-label">Tittle</label> -->
        <input type="text" name="name" [(ngModel)] = "forms.tittle" placeholder="TITLE" class="form-control" id="txtName" /><br>
      </div>
      <br>
      <div class="mb-3">
        <!-- <label for="txtDes" class="form-label">Description</label> -->
        <textarea name="" id="" cols="30" rows="5"  name="description" [(ngModel)] = "forms.description" placeholder="DESCRIPITION"></textarea>
       
      </div>
      <button type="button" class="btn btn-primary" (click)="update()" class="btn btn-primary">Update</button>
</form>
</div>